src/main/xsd/bds/msg/bds_msg_change_request_v0.1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns="http://www.truvo.com/schema/basedata"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"   
    targetNamespace="http://www.truvo.com/schema/basedata"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <!-- Includes -->
    <xsd:include schemaLocation="../common/bds_i18n_v0.1.xsd"/>
    <xsd:include schemaLocation="../common/bds_ticket_v0.1.xsd"/>    
    <xsd:include schemaLocation="../common/bds_timing_v0.1.xsd"/>
    <xsd:include schemaLocation="../common/bds_user_v0.1.xsd"/>

    <!-- Root -->
    <xsd:element name="businessChangeRequest">
        <xsd:complexType>
            <xsd:sequence>
                <!-- Country that the change is related to -->
                <xsd:element name="country" type="CountryType" minOccurs="1" maxOccurs="1"/>                
                <!-- Unique ticket number of the changes -->
                <xsd:element name="changeRequestTicketNumber" type="ChangeRequestTicketNumberType" minOccurs="1" maxOccurs="1"/>
                <!-- Timestamp the change was applied  -->
                <xsd:element name="changeRequestTimeStamp" type="TimeStampType" minOccurs="1" maxOccurs="1"/>
                <!-- Timestamp the change was notified -->
                <xsd:element name="changeNotificationTimeStamp" type="TimeStampType" minOccurs="1" maxOccurs="1"/>
                <!-- User that performed the change -->
                <xsd:element name="userInfo" type="UserInfoType" minOccurs="1" maxOccurs="1"/>
                <!-- Party elements -->
                <xsd:element name="party" type="PartyType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <!-- Party -->
    <xsd:complexType name="PartyType">
        <xsd:sequence>
            <xsd:element name="context" type="PartyContextType" minOccurs="0" maxOccurs="1"/>            
            <xsd:element name="lockInfo" type="PartyLockInfoType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="enterpriseNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="partySite" type="PartySiteType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartyContextType">
        <xsd:sequence>
            <xsd:element name="extCustomerId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartyLockInfoType">
        <xsd:sequence>
            <xsd:element name="lockedFromTimeStamp" type="TimeStampType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="lockedToTimeStamp" type="TimeStampType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>    

    <!-- Party Site -->
    <xsd:complexType name="PartySiteType">
        <xsd:sequence>
            <xsd:element name="context" type="PartySiteContextType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="nameAddressAction" type="NameAddressActionType" minOccurs="0" maxOccurs="1"/>   
            <xsd:element name="contactMechanisms" type="ContactMechanismsType" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartySiteContextType">
        <xsd:sequence>
            <xsd:element name="extSttec3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- Name -->
    <xsd:complexType name="NameAddressActionType">
        <xsd:sequence>            
            <xsd:choice>
                <xsd:element name="add" type="NameAddressAddActionType"/>
                <xsd:element name="change" type="NameAddressChangeActionType"/>
            </xsd:choice>
        </xsd:sequence>        
    </xsd:complexType>
    <xsd:complexType name="NameAddressAddActionType">
        <xsd:sequence>                        
            <xsd:element name="target" type="NameAddressType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NameAddressChangeActionType">
        <xsd:sequence>                        
            <xsd:element name="source" type="NameAddressType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="target" type="NameAddressType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="NameAddressType">
        <xsd:sequence>
            <xsd:element name="businessName" type="BusinessNameTranslationsType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="address" type="AddressType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>        
    </xsd:complexType>
        
    <xsd:complexType name="BusinessNameTranslationsType">
        <xsd:sequence>
            <xsd:element name="translation" type="BusinessNameTranslationType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>        
    </xsd:complexType>
    
    <xsd:complexType name="BusinessNameTranslationType">
        <xsd:sequence>            
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>    
        <xsd:attribute name="language" type="LanguageRestrictionType" use="required"/>
    </xsd:complexType>    
    
    <xsd:complexType name="AddressType">
        <xsd:sequence>
            <xsd:element name="street" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="houseNumber" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="houseNumberSuffix" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postalBox" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="postalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="city" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="province" type="xsd:string" minOccurs="0" maxOccurs="1"/>     
            <xsd:element name="country" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>               
    </xsd:complexType>      
    
    <!-- Contact Mechanisms -->
    <xsd:complexType name="ContactMechanismsType">
        <xsd:sequence>    
            <xsd:element name="phoneAction" type="PhoneActionType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="faxAction" type="FaxActionType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="mobileAction" type="MobileActionType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="emailAction" type="EmailActionType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="webSiteAction" type="WebSiteActionType" minOccurs="0" maxOccurs="unbounded"/>    
        </xsd:sequence>
    </xsd:complexType>        
    
    <!-- Contact Mechanism Actions-->
    <xsd:complexType name="PhoneActionType">
        <xsd:sequence>            
            <xsd:choice>
                <xsd:element name="add" type="PhoneAddActionType"/>
                <xsd:element name="change" type="PhoneChangeActionType"/>
                <xsd:element name="remove" type="PhoneRemoveActionType"/>
            </xsd:choice>
        </xsd:sequence>        
    </xsd:complexType>
    <xsd:complexType name="PhoneAddActionType">
        <xsd:sequence>
            <xsd:element name="target" type="DialNumberType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PhoneChangeActionType">
        <xsd:sequence>
            <xsd:element name="source" type="DialNumberType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="target" type="DialNumberType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PhoneRemoveActionType">
        <xsd:sequence>
            <xsd:element name="source" type="DialNumberRemoveType" minOccurs="1" maxOccurs="1"/>            
        </xsd:sequence>
    </xsd:complexType>    
    
    <xsd:complexType name="FaxActionType">
        <xsd:sequence>            
            <xsd:choice>
                <xsd:element name="add" type="FaxAddActionType"/>
                <xsd:element name="change" type="FaxChangeActionType"/>
                <xsd:element name="remove" type="FaxRemoveActionType"/>
            </xsd:choice>
        </xsd:sequence>        
    </xsd:complexType>
    <xsd:complexType name="FaxAddActionType">
        <xsd:sequence>
            <xsd:element name="target" type="DialNumberType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FaxChangeActionType">
        <xsd:sequence>
            <xsd:element name="source" type="DialNumberType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="target" type="DialNumberType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FaxRemoveActionType">
        <xsd:sequence>
            <xsd:element name="source" type="DialNumberRemoveType" minOccurs="1" maxOccurs="1"/>            
        </xsd:sequence>
    </xsd:complexType>     
    
    <xsd:complexType name="MobileActionType">
        <xsd:sequence>            
            <xsd:choice>
                <xsd:element name="add" type="MobileAddActionType"/>
                <xsd:element name="change" type="MobileChangeActionType"/>
                <xsd:element name="remove" type="MobileRemoveActionType"/>
            </xsd:choice>
        </xsd:sequence>        
    </xsd:complexType>
    <xsd:complexType name="MobileAddActionType">
        <xsd:sequence>
            <xsd:element name="target" type="DialNumberType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MobileChangeActionType">
        <xsd:sequence>
            <xsd:element name="source" type="DialNumberType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="target" type="DialNumberType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MobileRemoveActionType">
        <xsd:sequence>
            <xsd:element name="source" type="DialNumberRemoveType" minOccurs="1" maxOccurs="1"/>            
        </xsd:sequence>
    </xsd:complexType>     
    
    <xsd:complexType name="EmailActionType">
        <xsd:sequence>            
            <xsd:choice>
                <xsd:element name="add" type="EmailAddActionType"/>
                <xsd:element name="change" type="EmailChangeActionType"/>
                <xsd:element name="remove" type="EmailRemoveActionType"/>
            </xsd:choice>
        </xsd:sequence>        
    </xsd:complexType>
    <xsd:complexType name="EmailAddActionType">
        <xsd:sequence>
            <xsd:element name="target" type="EmailType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EmailChangeActionType">
        <xsd:sequence>
            <xsd:element name="source" type="EmailType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="target" type="EmailType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EmailRemoveActionType">
        <xsd:sequence>        
            <xsd:element name="source" type="EmailRemoveType" minOccurs="1" maxOccurs="1"/>            
        </xsd:sequence>
    </xsd:complexType>    
    
    <xsd:complexType name="WebSiteActionType">
        <xsd:sequence>            
            <xsd:choice>
                <xsd:element name="add" type="WebSiteAddActionType"/>
                <xsd:element name="change" type="WebSiteChangeActionType"/>
                <xsd:element name="remove" type="WebSiteRemoveActionType"/>
            </xsd:choice>
        </xsd:sequence>        
    </xsd:complexType>
    <xsd:complexType name="WebSiteAddActionType">
        <xsd:sequence>    
            <xsd:element name="target" type="WebSiteType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WebSiteChangeActionType">
        <xsd:sequence>     
            <xsd:element name="source" type="WebSiteType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="target" type="WebSiteType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="WebSiteRemoveActionType">
        <xsd:sequence>              
            <xsd:element name="source" type="WebSiteRemoveType" minOccurs="1" maxOccurs="1"/>            
        </xsd:sequence>
    </xsd:complexType>       

    <!-- Contact Mechanism Types -->
    <xsd:complexType name="DialNumberType">
        <xsd:sequence>
            <xsd:element name="headingRestriction" type="HeadingRestrictionType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="countryCode" type="xsd:string"  minOccurs="0" maxOccurs="1"/>
            <xsd:element name="areaCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="phoneNumber" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="extension" type="xsd:string" minOccurs="0" maxOccurs="1"/>  
            <xsd:element name="label" type="LabelType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>      
    </xsd:complexType>
    <xsd:complexType name="DialNumberRemoveType">
        <xsd:sequence>            
            <xsd:element name="countryCode" type="xsd:string"  minOccurs="0" maxOccurs="1"/>
            <xsd:element name="areaCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="phoneNumber" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="extension" type="xsd:string" minOccurs="0" maxOccurs="1"/>  
        </xsd:sequence>      
    </xsd:complexType>    
    <xsd:complexType name="EmailType">
        <xsd:sequence> 
            <xsd:element name="headingRestriction" type="HeadingRestrictionType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="label" type="LabelType" minOccurs="0" maxOccurs="unbounded"/>            
        </xsd:sequence>                        
    </xsd:complexType>  
    <xsd:complexType name="EmailRemoveType">
        <xsd:sequence>             
            <xsd:element name="email" type="xsd:string" minOccurs="1" maxOccurs="1"/>                        
        </xsd:sequence>                        
    </xsd:complexType>     
    <xsd:complexType name="WebSiteType">
         <xsd:sequence>        
             <xsd:element name="headingRestriction" type="HeadingRestrictionType" minOccurs="0" maxOccurs="unbounded"/>   
             <xsd:element name="url" type="xsd:string" minOccurs="1" maxOccurs="1"/>
             <xsd:element name="label" type="LabelType" minOccurs="0" maxOccurs="unbounded"/>
         </xsd:sequence>         
    </xsd:complexType> 
    <xsd:complexType name="WebSiteRemoveType">
        <xsd:sequence>                       
            <xsd:element name="url" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>         
    </xsd:complexType>     
    <xsd:complexType name="LabelType" mixed="true">
        <xsd:attribute name="language" type="LanguageRestrictionType"/>
    </xsd:complexType>     
    
    <!-- Global -->
    <xsd:simpleType name="LanguageRestrictionType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="nl"/>
            <xsd:enumeration value="fr"/>
            <xsd:enumeration value="en"/>
            <xsd:enumeration value="pt"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="HeadingRestrictionType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>    
</xsd:schema>
